@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/eStyle.css">
    <link rel="stylesheet" href="~/lib/icofont/icofont.min.css">
</head>
<body>
    <div class="wrapper">
        <header>
            Kelime Oyunu
        </header>
        <div class="menu">
            <div class="menu-wrapper">
                <button onclick="location.href='/Basla'"><i class="icofont-ui-play"></i> Başla</button>
                <button id="best" onclick="location.href='/Eniyiler'"><i class="icofont-ui-rating"></i> En İyiler</button>
                <button><i class="icofont-info-circle"></i> Oyun Hakkında</button>
            </div>
        </div>
        <footer><i class="icofont-bubble-right"></i>&nbsp;&nbsp;&nbsp;&nbsp; Metin Cem BAYRAKTAR&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;Yazılım Geliştirme Laboratuvarı II&nbsp;&nbsp;&nbsp;&nbsp;<i class="icofont-bubble-left"></i></footer>
    </div>
</body>
</html>
